/* === GLOBAL STYLES === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans' !important;

}

body {
  display: block;
  margin: 0;
  overflow-x: hidden;
}


.dropdown-light, .dropdown-dark {
  font-size: 14px;
  font-weight: 400;
}

/* Kpi Cards */
.kpi-card {
  font-size: 16px;
  font-weight: 600; /* Un peu plus gras pour les chiffres */
}

/* Autres éléments */
button, input, select {
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
}


/* === SIDEBAR STYLES === */
.sidebar {
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ajout d'ombre par défaut */
  height: 100%; /* Prend toute la hauteur de la page */
  justify-content: space-between; /* Place le contenu en haut et en bas */
  padding: 25px 20px; /* Ajout d'espace interne */
  gap: 25px; /* Plus d'espace entre les sections */
  border-radius: 0 10px 10px 0; /* Suppression des arrondis à gauche */

}
.sidebar-section > .sidebar-label {
  text-align: center; /* Centre uniquement le texte */
  display: block;
  width: 100%; /* S'assure que le texte occupe toute la largeur */
  font-size: 16px; /* Taille de la police du titre */
  margin-bottom: 10px; /* Ajoute un espacement sous le titre */
}

.sidebar-title {
  font-size: 48px; /* Agrandissement du texte */
  font-weight: 1000; /* Texte en gras maximum */
  color: var(--primary-color); /* Couleur principale */
  margin-bottom: 20px; /* Espacement en bas */
  text-align: center; /* Centrage du texte */
  text-transform: uppercase; /* Mettre le texte en majuscules */
  letter-spacing: 2px; /* Espacement des lettres pour un effet élégant */
}

.sidebar-label {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 1px; /* Espacement des lettres */
  margin-bottom: 10px;
  padding-bottom: 5px;
}


.sidebar-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px; /* Ajout d'espace interne au bas des sections */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Ligne plus subtile */
  margin-bottom: 15px; /* Espacement entre les sections */
  transition: all 0.3s ease-in-out;
}



.sidebar-section:last-child {
  border-bottom: none; /* Pas de bordure pour la dernière section */
  margin-bottom: 0; /* Pas d'espacement en bas */
}


.sidebar:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Ombre au survol */
}

.sidebar-light {
  background: linear-gradient(135deg, #FFFFFF, #F5F5F5);
  color: #333333;
}

.sidebar-dark {
  background: linear-gradient(135deg, #202020, #181818);
  color: #E0E0E0;
}

.sidebar-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-label {
  color: inherit;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.sidebar .fas {
  margin-right: 8px;
  color: inherit;
}

/* === DROPDOWN STYLES === */
.dropdown-light {
  background-color: #FFFFFF !important;
  color: #333333 !important;
  border: none !important; /* Suppression complète de la bordure */
  border-radius: 10px; /* Bords arrondis pour un design moderne */
  padding: 6px; /* Augmentation légère pour plus d'espace */
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre subtile */
  transition: all 0.3s ease-in-out;
}

.dropdown-light:hover {
  border-color: #4A90E2; /* Bordure bleue au survol */
  box-shadow: 0 6px 15px rgba(74, 144, 226, 0.2); /* Ombre plus visible */
}

.dropdown-light .Select-control,
.dropdown-light .Select-value,
.dropdown-light .Select-placeholder {
  color: #333333 !important;
  border: none !important; /* Suppression complète de la bordure */

}

.dropdown-light .Select-menu-outer,
.dropdown-light .Select-option {
  background-color: #FFFFFF !important;
  color: #333333 !important;
  border-radius: 10px; /* Ajout d'arrondi aux options */
  border: none !important; /* Suppression complète de la bordure */

}

.dropdown-light .Select-option:hover {
  background-color: #F5F5F5 !important;
  color: #333333 !important;
}

.dropdown-dark {
  background-color: #181818 !important;
  color: #FFFFFF !important;
  border: none !important; /* Suppression complète de la bordure */
  border-radius: 10px; /* Bords arrondis pour uniformité */
  padding: 6px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre subtile */
  transition: all 0.3s ease-in-out;
}

.dropdown-dark:hover {
  border-color: #4A90E2; /* Bordure bleue au survol */
  box-shadow: 0 6px 15px rgba(74, 144, 226, 0.2); /* Ombre plus visible */
}

.dropdown-dark .Select-control {
  background-color: #181818 !important;
  color: #FFFFFF !important;
  border: none !important;
}

.dropdown-dark .Select-value {
  background-color: #181818 !important;
  color: #FFFFFF !important;
}

.dropdown-dark .Select-value-label {
  color: #FFFFFF !important;
}

.dropdown-dark .Select-placeholder {
  color: #AAAAAA !important;
}

.dropdown-dark .Select-menu-outer,
.dropdown-dark .Select-option {
  background-color: #181818 !important;
  color: #E0E0E0 !important;
  border-radius: 10px; /* Ajout d'arrondi aux options */
}

.dropdown-dark .Select-option:hover {
  background-color: #333333 !important;
  color: #FFFFFF !important;
}


/* === RADIO BUTTON STYLES === */
.radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio-label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 400; /* Retirer le gras pour un style plus léger */
  border-radius: 8px;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  color: var(--text-color); /* Couleur du texte normale */
}

/* Survol */
.radio-label:hover {
  background-color: #4A90E2; /* Couleur au survol */
  color: #FFFFFF; /* Texte blanc au survol */
}

/* Bouton actif */
.radio-input:checked + .radio-label {
  background-color: #4A90E2; /* Fond bleu pour le bouton sélectionné */
  color: #FFFFFF; /* Texte blanc pour le bouton sélectionné */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Effet de hover si déjà actif */
.radio-input:checked + .radio-label:hover {
  background-color: #357ABD; /* Couleur légèrement différente au survol */
}

/* Mode clair */
.light-theme .radio-label {
  color: #333333; /* Texte sombre en mode light */
}

.light-theme .radio-label:hover {
  background-color: #E0E0E0; /* Gris clair au survol */
  color: #000000; /* Texte noir */
}

.light-theme .radio-input:checked + .radio-label {
  background-color: #4A90E2;
  color: #FFFFFF;
}

/* Mode sombre */
.dark-theme .radio-label {
  color: #E0E0E0; /* Texte clair en mode dark */
}

.dark-theme .radio-label:hover {
  background-color: #4A90E2;
  color: #FFFFFF;
}

.dark-theme .radio-input:checked + .radio-label {
  background-color: #4A90E2;
  color: #FFFFFF;
}

/* Cache les cercles radio natifs */
.radio-input {
  display: none;
}



/* Mode Light */
.light-theme .radio-label {
  color: #333333; /* Texte sombre en mode light */
}

.light-theme .radio-label:hover {
  background-color: #E0E0E0; /* Gris clair au survol */
  color: #000000; /* Texte noir */
}

.light-theme .radio-label.active {
  background-color: #4A90E2; /* Couleur de sélection identique pour cohérence */
  color: #FFFFFF;
}

/* Mode Dark */
.dark-theme .radio-label {
  color: #E0E0E0; /* Texte clair en mode dark */
}

.dark-theme .radio-label:hover {
  background-color: #4A90E2;
  color: #FFFFFF;
}

.dark-theme .radio-label.active {
  background-color: #4A90E2;
  color: #FFFFFF;
}

/* Cache les cercles radio natifs */
.radio-input {
  display: none;
}


/* === RANGE SLIDER STYLES === */
.custom-range-slider .rc-slider-track {
  background-color: rgb(75, 144, 226) !important;
}

.custom-range-slider .rc-slider-handle,
.custom-range-slider .rc-slider-handle:focus,
.custom-range-slider .rc-slider-handle:hover,
.custom-range-slider .rc-slider-handle:active {
  background-color: rgb(75, 144, 226) !important;
  border: 2px solid rgb(75, 144, 226) !important;
}

.custom-range-slider {
  overflow: visible !important;
  position: relative;
}

.custom-range-slider .rc-slider-tooltip {
  white-space: nowrap;
  overflow: visible;
  position: absolute !important;
  z-index: 1000;
}

/* === SWITCH STYLE === */
.theme-switch-container {
  margin-top: auto; /* Assure que le switch reste en bas */

  display: flex;
  align-items: center; /* Centrer verticalement */
  justify-content: center; /* Centrer horizontalement */
  gap: 10px;
}

.switch {
  position: relative;
  width: 80px; /* Largeur étendue pour inclure les icônes */
  height: 40px;
  background-color: #FFECB3; /* Fond pour le mode Light */
  border-radius: 20px; /* Arrondi pour le switch */
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px;
  transition: background-color 0.4s ease;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre subtile */
}

.switch .toggle {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #FFD54F; /* Jaune pour le soleil */
  border-radius: 50%;
  left: 5px;
  top: 50%; /* Centrer verticalement */
  transform: translateY(-50%);
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Ombre subtile pour le cercle */
}

.switch.active {
  background-color: #263238; /* Fond pour le mode Dark */
}

.switch.active .toggle {
  background-color: #4FC3F7; /* Bleu pour la lune */
  left: calc(100% - 35px); /* Position à droite */
}

/* Soleil et Lune */
.switch .toggle::before, 
.switch .toggle::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  transition: opacity 0.4s ease; /* Transition fluide pour la visibilité */
}

.switch .toggle::before {
  content: '☀'; /* Soleil */
  color: #FFFFFF; /* Blanc pour l'icône */
  opacity: 1; /* Soleil visible par défaut */
}

.switch .toggle::after {
  content: '🌙'; /* Lune */
  color: #FFFFFF; /* Blanc pour l'icône */
  opacity: 0; /* Lune cachée par défaut */
}

.switch.active .toggle::before {
  opacity: 0; /* Soleil disparaît */
}

.switch.active .toggle::after {
  opacity: 1; /* Lune apparaît */
}

/* Texte Light et Dark */
.theme-label {
  font-size: 14px;
  font-weight: bold;
  color: inherit;
}

/* === GRAPH STYLES === */
.graph-container {
  background-color: var(--background-color);
  border-radius: 14px;
  overflow: hidden;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 100%;
  margin-bottom: 10px;
}

.graph-container:hover {
  transform: scale(1.03);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  max-width: 100%;
}

.fullscreenable {
  transition: none !important;
}

.fullscreenable:not(.fullscreen) {
  width: 100%;
  height: 300px;
  max-width: 100%;
  border-radius: 14px !important;
}

.graph-container .fullscreenable:not(.fullscreen) {
  width: 100%;
  height: 300px;
  max-width: 100%;
  border-radius: 14px !important;
  overflow: hidden !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#map-graph.fullscreenable:not(.fullscreen) {
  height: 520px;
  border-radius: 14px !important;
  overflow: hidden !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* === FULLSCREEN BUTTONS === */
.fullscreen-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #4A90E2;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 12px;
  cursor: pointer;
  z-index: 10000;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.fullscreenable.fullscreen {
  width: 100vw !important;
  height: 100vh !important;
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  border-radius: 0 !important;
  transition: none !important;
}

.graph-container:hover,
.fullscreenable:hover {
    box-shadow: none !important;
    transform: none !important;
}

.fullscreen-button:hover {
  background-color: #357ABD;
  transform: scale(1.05);
}

.exit-fullscreen-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #E74C3C;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 12px;
  cursor: pointer;
  display: none;
  z-index: 10001;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.exit-fullscreen-button:hover {
  background-color: #C0392B;
  transform: scale(1.05);
}




/* === KPI CARDS === */
.kpi-card:hover {
  transform: scale(1.03);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  max-width: 100%;
}
 