body{
    display: block;
    margin: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-range-slider .rc-slider-track {
    background-color: rgb(75, 144, 226) !important;
  }
  
  .custom-range-slider .rc-slider-handle,
  .custom-range-slider .rc-slider-handle:focus,
  .custom-range-slider .rc-slider-handle:hover,
  .custom-range-slider .rc-slider-handle:active {
    background-color: rgb(75, 144, 226) !important;
    border: 2px solid rgb(75, 144, 226) !important;
  }